<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/quanlythuvien</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.username">root</property>
        <property name="connection.password">12345</property>
        <mapping class="modules.entities.BanDoc"/>
        <mapping class="modules.entities.NhanVien"/>
        <mapping class="modules.entities.PhieuMuon"/>
        <mapping class="modules.entities.PhieuTra"/>
        <mapping class="modules.entities.Sach"/>
        <mapping class="modules.entities.ViTri"/>
        <mapping class="modules.entities.LichSuDangNhap"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>