<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/quanlythuvien</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
         <property name="connection.password">admin</property>
        <mapping class="modules.BanDoc"/>
        <mapping class="modules.NgonNgu"/>
        <mapping class="modules.NhanVien"/>
        <mapping class="modules.Nxb"/>
        <mapping class="modules.PhieuMuon"/>
        <mapping class="modules.PhieuTra"/>
        <mapping class="modules.Sach"/>
        <mapping class="modules.SachNgonNgu"/>
        <mapping class="modules.SachTacGia"/>
        <mapping class="modules.SachTheLoai"/>
        <mapping class="modules.TacGia"/>
        <mapping class="modules.TheLoai"/>
        <mapping class="modules.TheThuVien"/>
        <mapping class="modules.ViTri"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>